apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: bitwarden-vault-pvc
  labels:
    app.kubernetes.io/name: bitwarden-vault
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.persistence.size }}
  {{- if .Values.persistence.storageClass }}
  storageClassName: {{ .Values.persistence.storageClass }}
  {{- end }}
